@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black sm:bg-white;
  }
  img {
    @apply rounded-lg;
    @apply max-w-full sm:max-w-full;
  }
  input  {
    @apply text-sm sm:text-lg;
    @apply w-full sm:w-full;
  }
}

@layer utilities {
  @variants responsive {
    .pin_container {
      gap: 10px;
      margin: 10px;
      column-count: 2;
    }
    .pin_container-sm {
      gap: 10px;
      column-count: 2em;
    }
    .pin_container-md {
      gap: 10px;
      column-count: 3;
    }
    .break-inside {
      break-inside: 1.5em;
    }
  }
}
